.package-info .dynamic-item-action a.button {
    display:none!important;
}
#arrival-info, #departure-info, #login {
    display:none!important;
}
.checkoutDay-label {
    padding-top:8px;
}
#checkoutYear, #checkinYear {
    min-width:65px;
}
#checkinMonth, #checkoutMonth {
    min-width:50px;
}
#no-results-messaging .message-dotted {
    display:block!important;
}
.booking-path label.required:after {
    content:'*'
}
.confirmation-page ul {
    padding:5px 10px;
    margin:0!important;
}
.webkit select {
    background:#fff url(//images.webhotel.microsdc.us/dollywood/get/w/21/h/15/dd-arrow-blue.image?) right center no-repeat!important;
    height:15px!important;
    margin-right:6px;
    padding-right:25px!important;
}
#modifyReservationForm button {
    display:none;
}
#modifyReservationForm .button.secondary[data-tag="wh-cancel-reservation-click"] {
    display:block;
}
.account-view-reservation .custom-confirmation-details, .account-view-reservation .custom-reservation-rate-details {
    width:100%!important;
    float:none;
}
#vipCode, #middleName, #passport-info-fields, #nationality, #title, #dateofbirth, #gender {
    display:none!important;
}
